@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
 /* page  */
main.big-container{
    background: #98E99080;
    font-family: 'Inter', sans-serif;
    padding-top: 50px;
}

  .container{
      margin: 10vh 10vw 0;
      display: flex;
      justify-content: space-around;
      
  }


  /* Header  */
.about-bg{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background: transparent;
    color: #fff;
  }

  /* first section  */
  .first{
      width: 50%;
  }
  .first p{
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 30px;
  }
  /* second section  */
  .second{
      position: relative;
      width: 50%;
  }
  .list-box{
      width: 80%;
      background: #54A452;
      color: #fff;
      margin: auto;
      list-style: none;
      text-align: center;
      line-height: 5;
  }
  .list-box li{
      cursor: pointer;
  }



  @media(max-width : 995px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .first{
        width: 100%;
    }


    .second{
        width: 100%;
    }
    .list-box{
        width: 100%;
        margin: 20px auto;
    }
  }