*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

section{
    margin-top: 5rem;
    margin-bottom: 8rem;
}

section > h2{
    text-align: center;
    color: #54A452;
    margin-bottom: 2rem;
}

section > h5 {
    text-align: center;
    color: #54A452;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 12%;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option{
    color: #fff;
    background: #54A452;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    margin: 5px;
    border: 1px solid transparent;
}

.contact_option:hover{
    background: #BFF2BB;
    border-color: #54A452;
    color: #54A452;
}

.contact_option_icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
}

.contact_option a:hover{
    color: #54A452;
}

/* form */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid #54A452;
    resize: none;
    outline: none;
}

/* Media queries for medium devices */

@media screen and (max-width: 1024px) {
    .container{
        width: 90%;
    }

    section{
        margin-top: 6rem;
    }

    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* Media queries for small devices */

@media screen and (max-width:600px) {
    .container{
        width: 86%;
    }

    section > h2{
        margin-bottom: 2rem;
    }

    .container.contact_container{
        width: 86%;
    }
}