* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 50px;
}

hr {
  margin-top: 10px;
  border: 0.75px solid #e6e6e6;
}

.card {
  height: 400px;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
}

.card-img {
  width: 376.43px;
}

.card-body article {
  color: #767676;
  font-size: 1rem;
  margin: 15px 0;
  line-height: 1.8rem;
}

.order-section {
  display: flex;
}

.order-button {
  background: #075200;
  color: #ffffff;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 14px;
  font-weight: 600;
}

.order-button:hover {
  background: #ffffff;
  color: #075200;
}
